xml_utils/xml_schemas/syllable_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="syllable">
    <xs:complexType>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element type="xs:string" name="lyric" />
            <xs:element type="xs:string" name="pitch" />
            <xs:element type="xs:string" name="duration" />
        </xs:choice>
    </xs:complexType>
</xs:element>

</xs:schema>